body{
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}
footer{
  text-align: center;
}
.head{
  text-align: center;
}
.alertt{
  text-align: center;
}
.compose{
  text-align: center
}